## Language name for syntax highlighting
## Only specify names supported by prism.js
## e.g. c cpp java python bash
#LANGUAGE=

## Program used to interpret or compile the practice file
#COMPILER=
#COMPILER_OPTIONS=

## Order of statements in compilation command
## Available statements: compiler, options, object, source, headers
#COMPILATION_SCHEME="compiler options object source"

## Whether source should be compiled
## Set false for scripting languages
#COMPILABLE=true

## Whether all sources in one line of .index file should appear in linkage
## usually other files are headers only and won't need to be linked to source
#INCLUDES=false

## What is the extension of the object which compiler throws?
## Default is set to .o
#OUTPUT_OBJECT=

## Whether linker explicitly specified
## This is only used for compilable sources
#LINKER=
#LINKER_OPTIONS=

## Order of statements in linkage command
## Available statements: linker, options, binary, object, headers, source, location, page
#LINKAGE_SCHEME="linker options binary object headers"

## Whether object should be linked after compilation too
## Defaut is set to true
## Set false for scripts
#LINKABLE=true

## Whether source can be executed either as compiled source or interpretable
## Set to false for text files
EXECUTABLE=false

## Wether generated output can run as an executable
#RUNNABLE=true
#RUNNING_OPTIONS=

## Order of statements in running command
## Available statements: compiler, linker, options, binary, object, headers, source, location, page
#RUNNING_SCHEME="binary"

## Whether different sections should appear
## Source is always false for readme files
#COMMENTS=true
#SOURCE=true

## Following extensions will be generated when new practices are created
#ADDITIONAL_EXTENSIONS="config reference.txt comment.txt title.txt"

## This feature will be used later
#TECHNICAL_LEVEL=

## Whether comments should be verified by .reference.txt files or not.
## This feature will be used later
#REFERENCE_VALIDITY=true

## This feature will be used later
#TERMINATE=false
#TERMINATION_SIGNAL=SIGTERM
#RUNTIME=3
